//Cores
$verde-100: #2AAA94;
$roxo-100: linear-gradient(102deg, #083F9B 0%, #7F56D9 93.39%);
$azul-100: linear-gradient(180deg, #084FC7 0%, rgba(8, 79, 199, 0.00) 172.16%);
$azul-200: linear-gradient(95deg, #331DA8 0%, #865AEF 100.96%);


$azul-300: #1D1D45;
$azul-400:  #04016ccc;

//Tons de preto
$branco: #FFFFFF;
$branco-100: linear-gradient(180deg, #D9ECFF 0%, rgba(240, 243, 255, 0.00) 127.78%);
$cinza-100: #4E596B;
